
.container{
    display: flex;
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: .7rem;
    align-items: center;
}

.label-avatar{
    width: 280px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.label-avatar input{
    display: none;
}

.label-avatar span{
    z-index: 99;
    position: absolute;
    opacity: 0.7;
    transition: all .5s;
}

.label-avatar span:hover{
    opacity: 1;
    transform: scale(1.8);
}

.form-perfil img{
    margin-bottom: 1rem;
    border-radius: 50%;
    object-fit: cover;
}

.form-perfil label{
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.form-perfil input, textarea, select{
    margin-bottom: 1.5rem;
    padding: .7rem;
    /* border: 0; */
    border-radius: 5px;
    max-width: 400px;
}