
.dashboard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dashboard span{
    margin: 2rem 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.novo{
    float: right;
    margin-bottom: 1rem;
    background-color: #83bf02;
    color: #fff;
    border: 0;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 6px;
    transition: ease-in 0.2s;
}

.novo:hover{
    background-color: #5fd204;
    transform: scale(1.1);
}

.novo svg{
    margin-right: 5px;
}