
.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;
    padding: .8rem;
    background-color: #f8f8f8;
    border-radius: 5px;
}

.title span{
    margin-left: 1rem;
    font-size: 15px;
}