
.container-novo-chamado{
    display: flex;
    background-color: #bababa;
    border-radius: 5px;
    padding: .8em;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    max-height: 550px;
    height: 482px;
  }

  .novo-chamado{
    display: flex;
    align-items: center;
    
  }

form textarea{
    height: 95px;
    width: 275px;
    resize: none;
}

form input[type='radio']{
    margin: 15px 0;
    
}

form input[type='radio']:not(:first-child){
    margin-left: 15px;
}

.status{
  margin-bottom: 30px;
}

.status span{
    padding-left: .5em;
    font-size: 1em;
}

.novo-chamado label{
    margin-bottom: .5em;
    font-size: 1.4em;
  }

  .novo-chamado select{
    width: 270px;
  }

  .status{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 .novo-chamado-btn{
  background-color: #2502bf;
 }

 .novo-chamado-btn:hover{
  background-color: #441aff;
  color: #fff;
 }


 
 
