.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #181c2e;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar div {
    background: url('../../assets/cover2.jpg');
    background-color: #181c2e;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    padding-top: 30px;
}

.sidebar div img {
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 90px;
    height: 90px;
    -webkit-filter: drop-shadow(2px 3px 6px #121212);
    filter: drop-shadow(2px 3px 6px #121212);
    object-fit: cover;
}

.sidebar a {
    display: block;
    color: rgba(255, 255, 255, 0.848);
    padding: 20px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: ease-in-out .4s;
}

.sidebar a:hover {
    background-color: rgb(63, 117, 240);
}

.sidebar a svg {
    margin-right: .8rem;
    margin-bottom: 3px;
}

@media screen and (max-width: 700px) {
    .sidebar{
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a{
        float: left;
    }

    .sidebar div{
        display: none;
    }

    .sidebar a svg{
        display: none;
    }

}

@media screen and (max-width: 400px) {

    .sidebar{
        width: 100%;
        height: auto;
        position: relative;
    }
    
    .sidebar a{
        float: left;
        text-align: center;
        padding: 18px;
    }

    .sidebar div{
        display: none;
    }

    .sidebar a svg{
        display: none;
    }

    
}